# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.*.local
.env.vercel.*

# User uploads (keep folder)
public/uploads/editor/*
!public/uploads/editor/.gitkeep

# Misc
*.crt
*.key
.DS_Store
*.log
.vercel
.env*.local

# TypeScript build info
tsconfig.tsbuildinfo
